@using WikY.Models

@model List<Article>

@{
    ViewBag.Title = "Rechercher un article";
}

<h1 class="text-center jumbotron"><strong>Rechercher un article</strong></h1>

@using (Html.BeginForm())
{
<label for="search_article">Contenu, thème ou auteur</label>
<input type="search" id="search_article" name="choice"
       aria-label="Rechercher sur le site">
<button type="submit">Trouver le(s) article(s)</button>
}


